ETHERSCAN_API_KEY=ABC123ABC123ABC123ABC123ABC123ABC1
ROPSTEN_URL=https://eth-ropsten.alchemyapi.io/v2/<YOUR ALCHEMY KEY>
PRIVATE_KEY=0xabc123abc123abc123abc123abc123abc123abc123abc123abc123abc123abc1

MNEMONIC=
ALCHEMY_API_KEY=
DEFENDER_TEAM_API_KEY=
DEFENDER_TEAM_API_SECRET_KEY=
BOX_PROXY_ADDRESS="0x080f3F61a0263523699AD666f3bc78dfc99dc3Ac"
GNOSIS_SAFE_KEY=